<nav class="navbar">
  <a class="navbar-brand" href="#">Checkit</a>
  <div class="links-position">
    
      <span><%= link_to "New Post", new_post_path, class: "links" %></span>
      <span><%= link_to "Login", new_post_path, class: "links" %></span>
      <span><%= link_to "Register", new_post_path, class: "links" %></span>
    
  </div>
</nav>
