@import "bootstrap";


.links {
  display: inline-block;
  padding-left: 20px;
  padding-top: 10px;
  
}

.links:hover {
 text-decoration: none;
  
}
.links-position {
  padding-right: 300px;
 }

body {
  background-color: #fafafa;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.navbar-brand {
  padding-left: 400px;
  font-size: 2em;
  a {
    color: #125688;
  }
}

.navbar-container {
  background-color: #fff;
  height: 80px;
  padding-bottom: 15px;
  .li {
    color: #125688;
  }
}

.navbar-container {
  width: 100%;
  margin: 0 auto;
}

.posts-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}

.post {
  background-color: #fff;
  border-color: #edeeee;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 60px;
}


.post-head {
  height: 64px;
  width: 640px;
  padding: 14px 20px;
  color: #125688;
  font-size: 15px;
  line-height: 18px;
  .thumbnail {}
  .name {
    display: block;
  }
}

.image {
  border-bottom: 1px solid #eeefef;
  border-top: 1px solid #eeefef;
}

.caption {
  width: 640px;
  padding: 24px 24px;
  font-size: 15px;
  line-height: 18px;

}

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}

